# log files
*.log
*log.txt
*logs.txt

# ignore database backups maybe?
 laemma.sql
 database_migration.sql
 database_update.sql
 create_missing_tables.sql
 fix_partners_table.sql

# macOS
.DS_Store

# IDE configs
.idea/
.vscode/
